$transition-length: 0.4s;

.wrapper {
  padding: 2px 4px 4px 8px; // spacing 100, 150, 150, 200
  border: 1px solid transparent;
  transition: border-color $transition-length;

  &:not(.disabled) {
    &:hover {
      border-color: gray; // use tokens

      .close {
        opacity: 1;
      }
    }

    &:active {
      opacity: 0.6; // use tokens

      .close {
        opacity: 1;
      }
    }
  }

  &.disabled {
    border-color: transparent;
    cursor: default;
    opacity: 0.4; // use tokens
  }
}

.flag {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 2px;
}

.label {
  color: white;
  // use tokens
}

.close {
  opacity: 0;
  transition: opacity $transition-length;
}