
.section {
  padding-left: 16px; // 350
  padding-right: 24px; // 400
  padding-bottom: 4px; // 200
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  &:last-child {
    border-right: none;
  }
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 4px; // spacing 200
  margin-bottom: 4px; // spacing 200
}

.columnsWrapper {
  display: flex;
  gap: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ecf0f1;
  font-size: 14px;
  transition: color 0.2s;

  &:hover {
    color: #3498db;
  }

  input {
    margin-right: 10px;
    cursor: pointer;
  }
}