.triangle {
  width: 22px;
  height: 12px;
  display: block;
  margin-left: 40px; // TODO: use tokens
  overflow: hidden;
  
  .path {
    fill: #23383c;;
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 1px;
  }
}