$width: 28px;
$height: 14px;

.triangle {
  width: $width;
  height: $height;
  display: block;
  margin-left: 40px; // TODO: use tokens
  overflow: hidden;
  
  // Gameface optimizacija za oštre ivice
  shape-rendering: geometricPrecision;

  .path {
    fill: #23383c;
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 1px;
    stroke-linejoin: miter;
  }
}