.wrapper {
  background: #23383c;
  color: #cfe3e6;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px; // 200 300
}

.reset {
  background: none;
  border: none;
  color: #7fa3a8;
  cursor: pointer;
  margin-left: 16px;
}

.sections {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.2);;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px; // 250
}

.sort {
  margin-left: auto;
  color: #7fa3a8;
}

.marginLeft {
  margin-left: 16px;
}