$bg-color: rgba(20, 20, 20, 0.8);
$text-color-primary: #e0e0e0;

.container {
  display: flex;
  flex-direction: column;
  padding: 8px 0 8px 16px; // 200 0 200 300
  background-color: $bg-color;
  color: $text-color-primary;
}

.firstRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftSection {
  display: flex;
  flex-direction: row;
}

.actionButton {
  background-color: transparent;
  border: none;
  color: $text-color-primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
}

.secondRow {
  display: flex;
  align-items: center;
  margin-top: 4px; // 150
}

.resetButton {
  background-color: transparent;
  border: none;
  color: #cccccc;
}